<nz-layout class="app-layout">
  <!-- Sidebar -->
  <nz-sider class="menu-sidebar"
    nzCollapsible
    nzWidth="250px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <img src="../../../assets/img/sopraLogo (1).png" alt="logo">
      <h1 style="color:aliceblue">SopraFormation</h1>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <!-- For USER role -->
          <li *ngIf="role === 'USER'" nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Welcome</a>
          </li>
          <li *ngIf="role === 'USER'" nz-menu-item nzMatchRouter>
            <a routerLink="usercalendar">Calendrier</a>
          </li>
          <li *ngIf="role === 'USER'" nz-menu-item nzMatchRouter>
            <a>Profile</a>
          </li>

          <!-- For ADMIN role -->
          <li *ngIf="role === 'ADMIN'" nz-menu-item nzMatchRouter>
            <a routerLink="AdminUsersControle">gérer les users</a>
          </li>
          
    
          <!-- Common to both roles -->
          <li *ngIf="role" nz-menu-item nzMatchRouter>
            <a (click)="logout()">Deconnection</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
 
  <!-- Main content area -->
  <nz-layout class="site-layout">
    <!-- Header -->
    <nz-header class="app-header">
      <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
        <nz-icon class="trigger" [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" />
      </span>
    </nz-header>
   
    <!-- Content -->
    <nz-content class="site-content">
      <div class="content-container">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>